.about_page {
    height  : 100%;
    width   : 100%;
    position: relative;
    padding : 0 0.3rem;

    // 联盟介绍
    .introduce_card{
        width:100%;
        border:1px solid green;
        height:1rem;
    }
}