.page_sub1{
    .col_act{
        color: rgba(0,0,0,0.5)
    }
    .col_act:hover{
        color: #51AA52 !important;
    }
}
.page_sub2 {
    .col {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.3rem;
    }

    .article_1 {
        display    : flex;
        height     : 3rem;
        align-items: center;

        img {
            width        : 30%;
            // margin-top: 0.3rem;
        }

        ul {
            flex           : 1;
            width          : 70%;
            color          : rgba(0, 0, 0, 0.5);
            font-size      : 0.12rem;
            padding-left   : 0.7rem;
            display        : flex;
            flex-direction : column;
            justify-content: space-between;
            height         : 60%;
            line-height    : 0.3rem;
            position       : relative;
            top            : -0.1rem;

            li:before {
                content       : "";
                width         : 0.03rem;
                height        : 0.03rem;
                display       : inline-block;
                border-radius : 50%;
                background    : rgba(0, 0, 0, 0.5);
                vertical-align: middle;
                margin-right  : 14px;
            }
        }
    }

    .article_2 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.3rem;
    }
}

.page_sub3 {
    .col {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.24rem;
    }
}

.page_sub4 {
    .col {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.32rem;
        text-indent: 0.3rem;
    }

    .col2 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.2rem;
    }

    .col3 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.26rem;
    }
}

.page_sub5 {
    .col {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.32rem;
        text-indent: 2em;
    }

    .col_t {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.14rem;
        line-height: 0.32rem;
        // text-indent: 2em;
    }

    .col2 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.32rem;
    }

    .col3 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.26rem;
    }
}


.page_sub6 {
    .col {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.32rem;
        // text-indent: 2em;
    }

    .col_t {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.14rem;
        line-height: 0.32rem;
        // text-indent: 2em;
    }

    .col2 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.2rem;
    }

    .col3 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.26rem;
    }
}

.page_sub7 {
    .col {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.32rem;
        text-indent: 2em;
    }

    .col2 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.2rem;
    }

    .col3 {
        color      : rgba(0, 0, 0, 0.5);
        font-size  : 0.12rem;
        line-height: 0.26rem;
    }
}