body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:3031px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:1270px;
  height:3031px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:2949px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:82px;
  width:1380px;
  height:2949px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:82px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:1380px;
  height:82px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:14px;
  width:573px;
  height:54px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u519 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:30px;
  width:28px;
  height:22px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u520 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u520_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u520.selected {
}
#u520_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:2800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:110px;
  width:1210px;
  height:2800px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u522 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:2962px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u522_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
