body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:1380px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:4838px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:1270px;
  height:4838px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:4756px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:82px;
  width:1380px;
  height:4756px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:82px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:1380px;
  height:82px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:14px;
  width:287px;
  height:54px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:30px;
  width:28px;
  height:22px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u482 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u482_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u482.selected {
}
#u482_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:385px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:110px;
  width:677px;
  height:385px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u483 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:564px;
  width:600px;
  height:280px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u484 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:923px;
  width:600px;
  height:175px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u485 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:335px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:135px;
  width:500px;
  height:335px;
  display:flex;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:275px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:567px;
  width:550px;
  height:275px;
  display:flex;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:539px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:1172px;
  width:450px;
  height:539px;
  display:flex;
}
#u488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:253px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:884px;
  width:450px;
  height:253px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:539px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:1172px;
  width:450px;
  height:539px;
  display:flex;
}
#u490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:539px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1172px;
  width:450px;
  height:539px;
  display:flex;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:316px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:1723px;
  width:450px;
  height:316px;
  display:flex;
}
#u492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1723px;
  width:725px;
  height:105px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u493 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:211px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1828px;
  width:375px;
  height:211px;
  display:flex;
}
#u495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:211px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1828px;
  width:375px;
  height:211px;
  display:flex;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:2134px;
  width:638px;
  height:175px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u497 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:282px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:2080px;
  width:500px;
  height:282px;
  display:flex;
}
#u498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:2457px;
  width:638px;
  height:210px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u499 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:309px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:2407px;
  width:550px;
  height:309px;
  display:flex;
}
#u500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:375px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:3029px;
  width:550px;
  height:375px;
  display:flex;
}
#u501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:2736px;
  width:1200px;
  height:280px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:375px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:3029px;
  width:646px;
  height:375px;
  display:flex;
}
#u503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:3480px;
  width:600px;
  height:210px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u504 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:285px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:3460px;
  width:520px;
  height:285px;
  display:flex;
}
#u505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:3790px;
  width:1200px;
  height:140px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:3975px;
  width:1200px;
  height:280px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:4304px;
  width:1200px;
  height:105px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-style:normal;
  line-height:35px;
}
#u508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:285px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:4437px;
  width:550px;
  height:285px;
  display:flex;
}
#u509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:3756px;
  width:213px;
  height:18px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:3037px;
  width:143px;
  height:18px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:4735px;
  width:143px;
  height:18px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:264px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:4437px;
  width:600px;
  height:264px;
  display:flex;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:4735px;
  width:173px;
  height:18px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u515 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:4787px;
  width:112px;
  height:38px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
}
#u515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
