@import '../../lib/common.less';

// 首页按钮

.homeBtn {
    cursor: pointer;
    color:rgba(0,0,0,0.6)
}
.homeBtn:hover{
    color:@primary-color;
    // background-color: red;
}

// 联盟动态
.dynamicBtn{
    cursor: pointer;
    color:rgba(0,0,0,0.6)
}

.dynamicBtn:hover{
    color:@primary-color;
}