body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1229px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:1229px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:1270px;
  height:1229px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:1147px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:82px;
  width:1380px;
  height:1147px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:82px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:1380px;
  height:82px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:14px;
  width:263px;
  height:54px;
  display:flex;
  font-family:'思源宋体 CN';
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:16px 0px 16px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:75px;
  background:inherit;
  background-color:rgba(81, 170, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:435px;
  width:390px;
  height:75px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:237px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:510px;
  width:390px;
  height:237px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:35px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:529px;
  width:353px;
  height:140px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:35px;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:35px;
}
#u9.selected {
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:237px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:510px;
  width:390px;
  height:237px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:35px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:529px;
  width:351px;
  height:140px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:35px;
}
#u12 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:35px;
}
#u12.selected {
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:75px;
  background:inherit;
  background-color:rgba(81, 170, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:435px;
  width:390px;
  height:75px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:75px;
  background:inherit;
  background-color:rgba(81, 170, 82, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:435px;
  width:390px;
  height:75px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:237px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:510px;
  width:390px;
  height:237px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:25px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:529px;
  width:351px;
  height:200px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:25px;
}
#u17 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u17_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:25px;
}
#u17.selected {
}
#u17_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:300px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:110px;
  width:1200px;
  height:300px;
  display:flex;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:400px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:772px;
  width:1200px;
  height:400px;
  display:flex;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:221px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.603921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:862px;
  width:1105px;
  height:221px;
  display:flex;
}
#u21 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u21_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-right:0px;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:891px;
  width:561px;
  height:163px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:25px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:928px;
  width:217px;
  height:100px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:25px;
}
#u24 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:72px;
  background:inherit;
  background-color:rgba(61, 116, 74, 0.00784313725490196);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:937px;
  width:343px;
  height:72px;
  display:flex;
  font-family:'思源宋体 CN Heavy', '思源宋体 CN Regular', '思源宋体 CN';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:30px;
  width:28px;
  height:22px;
  display:flex;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u26 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u26_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 CN';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:transparent;
  line-height:22px;
}
#u26.selected {
}
#u26_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
