.result_page {
    height    : auto;
    width     : 100%;
    background: white;
    padding   : 0 0.3rem;

    .card {
        color           : black;
        background-color: #F7F7F7;
        height          : 1.8rem;
        display         : flex;
        justify-content : space-between;
        padding         : 0.1rem 0.2rem;
        margin          : 0 0.3rem;

        .left {
            flex           : 3;
            height         : 100%;
            display        : flex;
            justify-content: center;
            align-items    : center;

            &>img {
                width: 80%;
            }
        }

        .middle {
            flex          : 10;
            display       : flex;
            flex-direction: column;
            align-items   : flex-start;
            color         : rgba(0, 0, 0, 0.7);
            font-size     : 0.12rem;
            margin-left   : 0.2rem;

            &>ul {
                display        : flex;
                justify-content: space-between;
                height         : 100%;

                li {
                    height         : 100%;
                    display        : flex;
                    flex-direction : column;
                    justify-content: space-between;
                    margin-right   : 0.2rem;

                    p {
                        display        : flex;
                        justify-content: flex-start;
                    }
                }
            }
        }

        .right {
            flex           : 4;
            // border:1px solid red;
            display        : flex;
            justify-content: center;
            align-items    : center;

        }

    }

    // 时间线
    main {
        display        : flex;
        justify-content: space-between;
        height         : auto;

        nav {
            font-size: 0.12rem;
            color    : rgba(0, 0, 0, 0.8);
            width    : 2.8rem;

            h3 {
                margin-top : 0.1rem;
                font-weight: bold;
                font-size  : 0.13rem;
            }
        }

        // 分割线
        .line {
            height          : auto;
            width           : 0.08rem;
            margin          : 0 0.2rem;
            background-color: rgba(0, 0, 0, 0.1);
            position        : relative;
            
            &>section {
                display         : inline-block;
                width           : 0.14rem;
                height          : 0.14rem;
                border-radius   : 0.1rem;
                background-color: #6BB56C;
                position        : absolute;
                left            : -0.05rem;
                display         : flex;
                justify-content : center;
                align-items     : center;

                &>span {
                    display         : inline-block;
                    background-color: white;
                    width           : 50%;
                    height          : 50%;
                    border-radius   : 50%;
                }
            }
        }

        // 右侧文章
        article {
            display        : flex;
            font-size      : 0.12rem;
            flex-direction: column;
            justify-content: flex-start;

          &>section{
              margin-top: 0.15rem;
            .sub {
                font-weight    : bold;
                // text-align: left;
                display        : flex;
                justify-content: flex-start;
                font-size      : 14px;
                margin-bottom: 0.07rem !important;
            }
            .content {
                color: rgba(0, 0, 0, 0.8) !important;
                text-align: left;
               font-size: 12px;
            }
          }
        }
    }

    // 底部分割线
    .underline{
        height: 0.04rem;
        width: 100%;
        background-color: rgba(144,144,144,0.1);
        margin-top: 0.15rem;
    }
}